# Ignorar pastas de build
bin/
obj/

# Ignorar arquivos temporários do Rider/Visual Studio
*.user
*.suo
*.tmp
*.ide
*.vs/

# Ignorar pacotes NuGet restaurados
*.nupkg
*.snupkg
packages/

# Ignorar configurações de log ou cache
*.log
.vscode/
.idea/